<!-- //_______________________________________________//
     //***********************************************//
     //  All Footer Contents
     //_______________________________________________//
     //***********************************************// -->
<script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jv/jv.min.js"></script>
<script src="/javascripts/jv/lettersonly.js"></script>
<script src="/javascripts/jv/nowhitespace.js"></script>
<script src="/javascripts/jquery/popper.js"></script>
<script src="/stylesheets/bootstrap-4/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
